/* STYLE SCROLLBAR FOR CHROME */
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 2px;
  background-color: #D6D6D6; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px; }

::-webkit-scrollbar {
  width: 5px; }

/* STYLE CALENDAR FOR CHROME */
::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../img/icon/calendar.png) no-repeat center;
  background-size: contain; }

::-webkit-inner-spin-button {
  display: none; }

::-webkit-calendar-picker-indicator:hover {
  background: none; }

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2em;
  background: #fff; }

.order {
  margin: 0 auto;
  width: 95%; }
  .order h1 {
    font-size: 16px;
    color: #007DC4; }
  .order_filter {
    text-align: center;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center; }
    .order_filter a {
      text-decoration: none;
      color: #007DC4; }
      .order_filter a:hover {
        color: red; }
    .order_filter input[type="date"] {
      border: none;
      border-bottom: 1px solid #000;
      margin: 0 5px; }
    .order_filter select {
      border: none;
      border-bottom: 1px solid #000;
      outline: none;
      color: #007DC4; }
  .order .date_filter {
    display: inline-block; }
  .order_new-mobile {
    display: none;
    position: fixed;
    width: 40px;
    bottom: 5%;
    right: 10px;
    z-index: 9999; }
    .order_new-mobile img {
      width: 100%; }
  .order_title {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: #E9E9E9;
    height: 50px;
    align-items: center; }
    .order_title-status {
      width: 8px; }
    .order_title-id {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%; }
    .order_title-date {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%; }
      .order_title-date span {
        font-size: 12px;
        color: #8D8D8D; }
    .order_title-mark {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%; }
      .order_title-mark a {
        text-decoration: none;
        color: #007DC4; }
      .order_title-mark .light_title {
        display: none; }
    .order_title-bayfb, .order_title-confirmed, .order_title-wait, .order_title-lacks {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%; }
      .order_title-bayfb .light_title, .order_title-confirmed .light_title, .order_title-wait .light_title, .order_title-lacks .light_title {
        display: none; }
    .order_title-track {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(15% - 8px); }
    .order_title-menu {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 260px;
      background: #fff;
      padding-right: 30px; }
  .order .order_items {
    height: 75vh;
    overflow-y: auto;
    text-align: center; }
  .order_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #C8C8C8; }
    .order_item .not_send {
      color: #727272; }
    .order_item .send {
      color: #007DC4; }
    .order_item .accepted {
      color: #e66508; }
    .order_item .done {
      color: #217e01; }
    .order_item-status {
      width: 8px; }
      .order_item-status .not_send {
        display: block;
        width: 100%;
        height: 43px;
        background-color: #E1E1E1; }
      .order_item-status .send {
        display: block;
        width: 100%;
        height: 43px;
        background-color: #F2EDBF; }
      .order_item-status .accepted {
        display: block;
        width: 100%;
        height: 43px;
        background-color: #CDDDFA; }
      .order_item-status .done {
        display: block;
        width: 100%;
        height: 43px;
        background-color: #DDFFDE; }
    .order_item-id {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-self: center;
      width: 15%; }
      .order_item-id p {
        display: block;
        width: 100%; }
      .order_item-id .subtitle {
        font-size: 12px; }
    .order_item-date {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%; }
      .order_item-date span {
        font-size: 12px;
        color: #8D8D8D; }
    .order_item-mark {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%; }
      .order_item-mark a {
        text-decoration: none;
        color: #007DC4; }
    .order_item-bayfb, .order_item-confirmed, .order_item-wait, .order_item-lacks {
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      width: 10%;
      flex-wrap: wrap; }
      .order_item-bayfb p, .order_item-confirmed p, .order_item-wait p, .order_item-lacks p {
        display: block;
        width: 100%; }
      .order_item-bayfb .pso, .order_item-confirmed .pso, .order_item-wait .pso, .order_item-lacks .pso {
        font-size: 12px;
        color: #9F9F9F; }
    .order_item-lacks {
      color: #C50000; }
    .order_item-track {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(15% - 8px); }
    .order_item-menu {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 250px;
      background: #fff;
      padding-right: 30px; }
      .order_item-menu-icon svg {
        fill: #4E4E4E;
        width: 30px;
        height: 30px;
        padding: 0px 7px; }
        .order_item-menu-icon svg:hover {
          fill: #000;
          border-radius: 50%;
          background: #E0EFF8; }
      .order_item-menu .tooltip {
        outline: none;
        text-decoration: none;
        position: relative; }
      .order_item-menu .tooltip span {
        margin-left: -999em;
        position: absolute; }
      .order_item-menu .tooltip:hover span {
        border-radius: 5px 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        position: absolute;
        right: 1m;
        top: 2em;
        z-index: 99999;
        margin-left: -50px;
        width: 130px; }
      .order_item-menu .tooltip_add:hover span {
        height: 40px; }
      .order_item-menu .tooltip_view:hover span {
        height: 22px;
        width: 80px;
        margin-left: -25px; }
      .order_item-menu .dscr {
        position: relative;
        font-size: 12px;
        text-transform: none;
        color: #fff;
        background: #4E4E4E;
        border: 1px solid #fff; }
    .order_item_mobile {
      margin: 0 5px;
      display: none;
      text-align: left;
      width: 100%; }
      .order_item_mobile-status {
        width: 4px;
        margin-right: 5px;
        margin-top: 3px; }
        .order_item_mobile-status .not_send {
          display: block;
          width: 100%;
          height: 64px;
          background-color: #E1E1E1; }
        .order_item_mobile-status .send {
          display: block;
          width: 100%;
          height: 64px;
          background-color: #F2EDBF; }
        .order_item_mobile-status .accepted {
          display: block;
          width: 100%;
          height: 64px;
          background-color: #CDDDFA; }
        .order_item_mobile-status .done {
          display: block;
          width: 100%;
          height: 64px;
          background-color: #DDFFDE; }
      .order_item_mobile-main {
        width: 100%;
        display: flex;
        flex-flow: column; }
        .order_item_mobile-main-title {
          display: flex;
          justify-content: space-between; }
          .order_item_mobile-main-title .mark_mobile {
            flex: 4; }
            .order_item_mobile-main-title .mark_mobile .mark {
              color: #007DC4;
              font-weight: bold; }
            .order_item_mobile-main-title .mark_mobile .id {
              flex: 5;
              color: #9F9F9F;
              font-size: 12px;
              margin-top: -3px; }
          .order_item_mobile-main-title .date_mobile {
            flex: 5;
            text-align: right; }
            .order_item_mobile-main-title .date_mobile .date {
              color: #007DC4;
              font-size: 12px; }
              .order_item_mobile-main-title .date_mobile .date span {
                color: #9F9F9F;
                font-size: 12px; }
            .order_item_mobile-main-title .date_mobile .track {
              color: #414141;
              font-size: 12px;
              margin-top: -3px; }
          .order_item_mobile-main-title .dropdown {
            position: relative; }
          .order_item_mobile-main-title img {
            margin-left: 5px;
            width: 25px;
            position: relative;
            top: 20px; }
          .order_item_mobile-main-title .menu_mobile {
            position: absolute;
            left: -270px;
            top: 20px;
            background: #fff;
            z-index: 200;
            height: 130px;
            width: 300px;
            border: 1px solid #C8C8C8;
            border-radius: 5px;
            padding: 5px;
            display: none; }
            .order_item_mobile-main-title .menu_mobile li {
              list-style: none;
              padding: 5px; }
              .order_item_mobile-main-title .menu_mobile li a {
                color: #007DC4;
                text-decoration: none; }
          .order_item_mobile-main-title .dropdown:hover > ul {
            display: block; }
        .order_item_mobile-main-fb {
          display: flex;
          justify-content: space-between; }
          .order_item_mobile-main-fb span {
            font-size: 10px; }
          .order_item_mobile-main-fb p {
            width: 130px; }
          .order_item_mobile-main-fb .title {
            font-size: 13px; }
          .order_item_mobile-main-fb .fb {
            color: #4F4F4F;
            font-size: 12px; }
          .order_item_mobile-main-fb .not_fb {
            font-size: 12px;
            padding-right: 31px;
            text-align: right; }
            .order_item_mobile-main-fb .not_fb .no_fb {
              color: #C50000;
              margin-top: -3px; }
  .order_item:hover .order_item-menu {
    display: flex;
    justify-content: space-around;
    align-items: center; }

footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  height: 28px;
  background: #414141;
  display: none;
  justify-content: space-around;
  padding: 5px 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25); }
  footer .info_status {
    font-size: 10px;
    text-align: center;
    width: 100px;
    line-height: 10px; }
    footer .info_status p {
      color: #fff; }
      footer .info_status p img {
        width: 5px;
        margin-bottom: -4px; }
      footer .info_status p a {
        text-decoration: none;
        color: #414141; }

/*# sourceMappingURL=zakaz.css.map */
